<table class="table">
  <tr>
    <th>Juhe ID</th>
    <th>Province</th>
    <th>City</th>
    <th>District</th>
    <th>Temp</th>
  </tr>

  <%  @cities.each do |city| %>
  <tr>
    <td><%= city.juhe_id %></td>
    <td><%= city.province %></td>
    <td><%= city.city%></td>
    <td><%= city.district %></td>
    <td>
      <%= city.current_temp %>
      <%= link_to "更新温度", update_temp_city_path(city), :method => :post %>
    </td>
  </tr>
  <% end %>
</table>
